[stripe]
; Get your keys from https://dashboard.stripe.com/account/apikeys
secret_key = "your_stripe_secret_key"
publishable_key = "your_stripe_publishable_key"

[twilio]
; Get your credentials from https://www.twilio.com/console
account_sid = "YOUR_ACCOUNT_SID_HERE"
auth_token = "YOUR_AUTH_TOKEN_HERE"
twilio_number = "+1234567890"

[database]
; Database connection details
db_host = "localhost"
db_name = "FranklinFC"
db_user = "YOUR_DB_USER"
db_password = "YOUR_DB_PASSWORD"
